<%# Reference resources for English. %>
<p>These resources open in a new window.</p>
<p>These are only samples and will need changing when languages change.</p>

<ul>
    <li><a href="http://dictionary.reference.com/browse/<%=h word%>" target="_blank" >dictionary.com</a></li>
    <li><a href="http://thesaurus.com/browse/<%=h word%>" target="_blank" >thesaurus.com</a></li>
    <li><a href="http://bnc.bl.uk/saraWeb.php?qy=<%=h word%>" target="_blank" >British National Corpus</a></li>
</ul>
