<%# References for Italian %>
<p>These resources open in a new window.</p>
<p>These are only samples and will need changing when languages change.</p>

<ul>
    <li><a href="http://www.wordreference.com/iten/<%=h word%>" target="_blank" >wordreference.com</a></li>
</ul>



