<%# References for Portuguese %>
<p>Click on the following link for more information about the word: <%=h word%></p>

<ul>
    <li><a href="http://www.wordreference.com/pten/<%=h word%>" target="_blank" >http://www.wordreference.com/itpt/<%=h word%></a></li>
</ul>

