
body{
    background: url('/static/img/fabric_plaid.png');
    font: 100% "Trebuchet MS", sans-serif;
}   

#content{
    width: 90%;
    padding: 1em;
    border-radius: 5px;
    border: solid 1px #aaa;
    background: white;
    margin: 0 auto;
    margin-top: 3em;
}

h1, h2{
    text-align: center;
}

